<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="PMS.Properties.Settings.ElementDBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=ElementDB.accdb" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<startup/></configuration>
